<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ApplicationCV</title>
</head>
<body>

<h4>Application Form - CV</h4>
<p>Please fill in your information!</p>

<form action="/marsgate/applicationEssay" method="post">

    <input type="hidden" th:value="${Id}" name="Id">

    <label for="birthdate">Birth date:</label>
    <input id="birthdate" type="date" value="1900-01-01" name="birthdate"> <br>

    <label for="experience">Years of experience: </label>
    <input id="experience" type="number" name="experience"> <br>

    <label for="university">University degree:</label>
    <input id="university" type="text" name="university"> <br>

    <button type="submit" >Save and Proceed</button>
    <button type="submit" formaction="/marsgate/cancel" formmethod="get">Cancel Application</button>
</form>

</body>
</html>