<!DOCTYPE html>
<html xmlns:th="https://www.thymeLeaf.org">
<head>
    <meta charset="UTF-8">
    <title>ApplicationConfirmation</title>
</head>
<body>

<h4>Thank you for your application!</h4>
<p>Your data:</p>

First name:
<br th:text="${firstname}"><br>
Last name:
<br th:text="${lastname}"><br>
Email:
<br th:text="${email}"><br>
Telephone:
<br th:text="${telephone}"><br>
Birthdate:
<br th:text="${birthdate}"><br>
Years of experience:
<br th:text="${experience}"><br>
University degree:
<br th:text="${university}"><br>
Essay:
<br th:text="${essay}"><br>

<a href="/marsgate">Return to Startpage</a>

</body>
</html>