<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CheckApplications</title>
</head>
<body>

<h4>Check Existing Applications</h4>
<p>Please enter your first and last name!</p>

<form action="/marsgate/existingApplications" method="get">
<label for="firstname">First name:</label>
<input id="firstname" type="text" name="firstname"> <br>

<label for="lastname">Last name:</label>
<input id="lastname" type="text" name="lastname"> <br>

<button type="submit">Find existing applications</button>
</form>

</body>
</html>